h1 a, h2 a {
    color: #C25100;
}

html,body {
 margin: 2%;
 height: 93%;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header a i,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header a i{
    font-size: 26pt;
}

.page-header span{
    color: #ffffff;
    font-size: 12pt;
}

main {
  height: 100%;
  margin-left: 0;
}

.col-7{
  margin-left: inherit;
}

#map {
 height: 100%;
 width: 100%;
}

.form-row {
    padding: 4px 0;
}

.submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}
